.list {
  width: 3em;
  background-color: gray;
  height: 90%;
  width: 25%;
  margin-right: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.listTitle {
  height: 3em;
  background-color: beige;
  color: black;
}
