.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
}

.innerMainContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
